body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #000;
    transition: 0.3s;
}

.dark {
    background: #121212;
    color: #fff;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

input, button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

button {
    cursor: pointer;
}

.dark button {
    background: #333;
    color: #fff;
}

